@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
h1 {
    color: rgb(215, 233, 243);
    font-size: 5rem;
  }
  .workshop{ 
     width: 100px;
      height: 100px;
      background-color: aquamarine;
      border-radius: 20px;
      opacity:0.7;
      background-image: url('/img/1.jpg');
      background-size: cover;
      padding: 100px;
      margin: 100px 100px 100px 100px;
      font-family: 'Dancing Script', cursive; 
    }
  h2 {
    color: rgb(224, 151, 247);
    font-size: 3rem;
  }
  h3 {
    color: rgb(248, 101, 101);
    font-size: 1rem;
  }
  h5 {
    color: rgb(3, 0, 0);
    font-size: 2rem;
  }
  .item {
    border: 1px solid #aaa;
    padding: 1rem;
  }
  .selected {
    background-color: #aaa;
  }
  #main-menu div:hover{
    color: blueviolet;
    cursor: pointer;
  }  
  
  .container{
    width:300px;
    height:100px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    background: rgb(209, 134, 252);
    font-family: 'Odibee Sans', cursive;
  } 